.container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.5rem;
    height: 3.5rem;

    border: 0.4rem solid #b9df5f63;
    border-top: 0.4rem solid #b8df5f;
    border-radius: 50%;

    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
